<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <div class="col-xs-6">
      <br> Enter currency type:
    <select [(ngModel)]="selectedValue">
      <option value = ''>select currency</option>
      <option *ngFor="let c of ratekeys" name="some" >{{c}}</option>

    </select>
    <input type="text" name="currency" [(ngModel)]="data.currency" #currency="ngModel">
    </div>
    <div class="col-xs-6">
   <br>
    
    <input type="text" name="convertCurrency" value="{{convertCurrency}}">
     <select [(ngModel)]="selectedValue1">
        <option value = ''>select currency</option>
      <option *ngFor="let c of ratekeys" name="somevalue">{{c}}</option>

    </select>
    
    <button (click)="exchange(data.currency,selectedValue,selectedValue1)" type="submit" class="btn btn-primary">click</button>
    <button (click)="reset()" type="submit" class="btn btn-primary">Reset</button>  
  </div>
  </div>
  </div>